@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea{
    outline: none;
}
/* input:focus, textarea:focus {
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    border-color: #3b82f6;
    background-color: #d1d4da;
} */